<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.receitaboa">
    <!-- necessario usuario ter uma camera para baixar meu app -->
    <uses-feature
        android:name="android.hardware.camera2"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">



        <!-- Configurar como vertical a cada nova atividade criada -->
        <activity android:name=".activity.EditarReceitaActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.VisualizarReceitaActivity"
            android:parentActivityName=".activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.NovaReceitaFotoActivity"
            android:parentActivityName=".activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PerfilAmigoActivity"
            android:parentActivityName=".activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ConfiguracoesActivity"
            android:parentActivityName=".activity.MainActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".activity.MainActivity"
            android:screenOrientation="portrait" >
        </activity>


        <activity android:name=".activity.CadastroActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.NovaReceitaInfoActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".activity.LoginActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>