<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rubensfelipe.android.receitaboa">
    <!-- necessario usuario ter uma camera para baixar meu app -->
    <!--
incopatibilidade com os celulares se essa função estiver ativada
    <uses-feature
        android:name="android.hardware.camera2"
        android:required="true" />
    -->
    <uses-feature
        android:name="android.hardware.camera2"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.hardware.CAMERA" android:required="false"/>

    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_receitaboa_foreground"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_receitaboa_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Classe que gerencia as notificações recebidas -->
        <service
            android:name="com.rubensvaz.android.receitaboa.services.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service> <!-- Adiciona um icone para as notificações -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_chef_24dp" />

        <activity android:name="com.rubensvaz.android.receitaboa.activity.ComentariosActivity"/>
        <!-- Configurar como vertical a cada nova atividade criada -->
        <activity
            android:name="com.rubensvaz.android.receitaboa.activity.EditarReceitaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rubensvaz.android.receitaboa.activity.VisualizarReceitaActivity"
            android:parentActivityName="com.rubensvaz.android.receitaboa.activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rubensvaz.android.receitaboa.activity.NovaReceitaFotoActivity"
            android:parentActivityName="com.rubensvaz.android.receitaboa.activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rubensvaz.android.receitaboa.activity.PerfilAmigoActivity"
            android:parentActivityName="com.rubensvaz.android.receitaboa.activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rubensvaz.android.receitaboa.activity.ConfiguracoesActivity"
            android:parentActivityName="com.rubensvaz.android.receitaboa.activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rubensvaz.android.receitaboa.activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rubensvaz.android.receitaboa.activity.CadastroActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rubensvaz.android.receitaboa.activity.NovaReceitaInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rubensvaz.android.receitaboa.activity.LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>